{
  "url": "https://forums.triplea-game.org",
  "secret": "{{  nodebb_secret }}",
  "database": "mongo",
  "port": 4567,
  "trust_proxy": true,
  "mongo": {
    "host": "mongodb",
    "port": "27017",
    "username": "",
    "password": "",
    "database": "nodebb",
    "uri": ""
  }
}
