{
  "url": "https://forums.triplea-game.org",
  "secret": "{{  nodebb_secret }}",
  "database": "postgres",
  "port": 4567,
  "trust_proxy": true,
  "postgres": {
    "host": "postgres",
    "port": "5432",
    "username": "nodebb",
    "password": "{{ nodebb_postgres_password }}",
    "database": "nodebb",
    "ssl": false
  }
}
