# Install instructions from: https://docs.docker.com/engine/install/ubuntu/


- name: Add docker signing key
  become: true
  copy:
    src: gpg
    dest: /etc/apt/keyrings/docker.asc
    owner: root
    mode: 0644

- name: Add apt repo listing
  become: true
  copy:
    src: docker.list
    dest: /etc/apt/sources.list.d/docker.list
    owner: root
    group: root
    mode: 0644

- name: apt update
  become: true
  ansible.builtin.apt:
    update_cache: yes

- name: install docker packages
  become: true
  package:
    update_cache: true
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin

- name: create docker group, add users to this group to allow them to run docker without sudo
  become: true
  group:
    name: docker
    state: present

#- name: sudoless docker commands
#  become: true
#  user:
#    name: "{{ lookup('ansible.builtin.env', 'USER') }}"
#    groups: docker
#    append: yes
