[Unit]
Description=TripleA Bot %i
Documentation=

[Service]
WorkingDirectory={{ bot_install_folder }}
User=bot
Group=bot
ExecStart=java -server \
  -Xmx{{ bot_max_memory }} \
  -Xss1250K \
  -Djava.awt.headless=true \
  -jar {{ bot_install_folder }}/bin/triplea-game-headless.jar \
  -Ptriplea.port="40%i" \
  -Ptriplea.name="{{ bot_name }}%i_{{ bot_city }}" \
  -Ptriplea.lobby.uri="https://prod.triplea-game.org" \
  -Ptriplea.map.folder="{{ bot_maps_folder }}" \
  -Ptriplea.exit.on.game.end=true
Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bot%i


[Install]
WantedBy=multi-user.target
