[Unit]
Description=TripleA Bot %i
Documentation=

[Service]
User=bot
Group=bot
ExecStart=docker run \
   --rm \
   --network host \
   --pull always \
   --env BOT_PORT_NUMBER=40%i \
   --env LOBBY_URI=https://prod.triplea-game.org \
   --env BOT_NAME={{ bot_name }}%i_{{ bot_city }} \
   --env EXIT_ON_GAME_END=true \
   --env BOT_MAX_MEMORY={{ bot_max_memory }} \
   -v {{ bot_maps_folder }}:/downloadedMaps \
   -v /home/bot/triplea/savedGames/autoSave:/home/bot/triplea/savedGames/autoSave \
   --name bot%i \
   ghcr.io/triplea-game/bot:latest
ExecStop=docker stop bot%i
Restart=always
SyslogIdentifier=bot%i

[Install]
WantedBy=multi-user.target
