#!/bin/bash

# This script will download all maps to a bot server

(
cd "{{ bot_maps_folder }}"
for j in 1 2 3 4; do
  while read mapRepo; do
    downloadFile="$(echo $mapRepo | sed 's|.*/||')-master.zip"
    echo "$(date) - Downloading: $mapRepo"
    wget -O "$downloadFile" "https://github.com/$mapRepo/archive/master.zip"
    unzip $downloadFile
    rm -v $downloadFile
  done < <(curl --silent "https://api.github.com/orgs/triplea-maps/repos?page=$j&per_page=1000" \
          | grep full_name | sed 's/.*: "//' | sed 's/",$//')
done

rm -rf  /opt/bot/maps/test-map/
)
