- name: Add postgres-12 apt repo signing key
  become: true
  copy:
    src: postgres-12-apt.gpg
    dest: /etc/apt/keyrings/postgres-12.asc
    owner: root
    mode: 0644

- name: Add apt repo listing
  become: true
  copy:
    src: postgres.list
    dest: /etc/apt/sources.list.d/postgres-12.list
    owner: root
    group: root
    mode: 0644

- name: apt update
  become: true
  ansible.builtin.apt:
    update_cache: yes

- name: Ensure latest bash and ssl
  become: true
  apt:
    state: latest
    name:
      - bash
      - openssl
      - libssl-dev
      - libssl-doc

- name: Install PostgreSQL
  become: true
  apt:
    state: present
    name:
      - postgresql-12
      - libpq-dev
      - python3-psycopg2

- name: Ensure the PostgreSQL service is running
  become: true
  service:
    name: postgresql
    state: started
    enabled: yes

- name: deploy file /etc/postgresql/12/main/pg_hba.conf
  notify: reload_postgres
  become: true
  copy:
    src: pg_hba.conf
    dest: /etc/postgresql/12/main/pg_hba.conf
    owner: postgres
    group: postgres
    mode: "0640"

