- name: apt install nginx
  become: true
  apt:
    name: nginx
    state: present

- name: deploy /etc/nginx/sites-enabled/default default nginx sites_enabled config
  become: true
  notify: reload_nginx
  template:
    src: "{{ nginx_default_conf_template }}"
    dest: "/etc/nginx/sites-enabled/default"
    owner: root
    group: root
    mode: "0644"

- name: create /etc/nginx/include/ folder
  become: true
  file:
    state: directory
    path: /etc/nginx/include/
    owner: root
    group: root
    mode: "0755"

- name: ensure nginx is started
  become: true
  systemd:
    name: nginx
    state: started
    enabled: true

- name: allow firewall ports
  become: true
  ufw:
    rule: allow
    port: 443
    proto: tcp

