- name: apt install nginx
  become: true
  apt:
    name: nginx
    state: present

- name: deploy default nginx sites_enabled config
  become: true
  notify: reload_nginx
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "0644"
    owner: root
    group: root
  with_items:
    - src: etc_nginx_sites_enabled_default.conf
      dest: /etc/nginx/sites-enabled/default
    - src: etc_nginx_sites_enabled_lobby.conf
      dest: /etc/nginx/sites-enabled/lobby.conf

- name: ensure nginx is started
  become: true
  systemd:
    name: nginx
    state: started
    enabled: true

- name: allow firewall ports
  become: true
  ufw:
    rule: allow
    port: 443
    proto: tcp

