# Runs whenever there is any change to main
# Updates all servers to have the 'infrastructure' deployment

name: Run ansible to configure servers
on:
  push:
    branches:
      - main
jobs:
  build:
    env:
      IS_MAIN_BUILD: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_INFRASTRUCTURE_USER_PRIVATE_SSH_KEY }}
      - name: deploy test
        if: ${{ env.IS_MAIN_BUILD }}
        run: |
          set -eu
          make deploy-test SSH_USER=deploy-infrastructure
        env:
          TRIPLEA_ANSIBLE_VAULT_PASSWORD: ${{ secrets.TRIPLEA_ANSIBLE_VAULT_PASSWORD }}
      - name: deploy prod
        if: ${{ env.IS_MAIN_BUILD }}
        run: |
          set -eu
          make deploy-prod SSH_USER=deploy-infrastructure
        env:
          TRIPLEA_ANSIBLE_VAULT_PASSWORD: ${{ secrets.TRIPLEA_ANSIBLE_VAULT_PASSWORD }}
